region = "eu-west-1"

vpc-cidr = "172.30.0.0/16"

jumphost-instance-type = "t3.micro"
database-instance-type = "m5d.large"

bootcamp-key-name = "simple-vpc-key"

owner_email = "sven@confluent.io"
owner_name = "Sven Erik Knop"

cflt_managed_by = "sven"
cflt_service = "EMEA"